  <ul>
    <li><strong>Client Name:</strong> <%= client.first_name %></li>
    <li><strong>Client SSN:</strong> <%= client.ssn %></li>
    <li><strong>Age:</strong> <%= client.age %></li>
    <li><strong> New Balance:</strong> <%= client.balance%></li>
    <li><strong> New Quantity:</strong> <%= updateProductResult.balance%></li>
  </ul>

